.car__form {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.car__form__input {
  width: 50%;
  margin-bottom: 5px;
}

.car__form__button {
  display: flex;
  align-self: left;
  width: 20%;
  margin-top: 15px !important;
}
