.upload__container {
  margin: 15px;
}

.upload__cars__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
}

.image {
  margin-bottom: 3px;
}

.error_msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
